html,body{
    display: flex;
    justify-content: center;
    background-color: black;
}
#container{
    width: 1000px;
    padding: 10px;
    background-color: green;
}
#header{
    background-color: aqua;
    height: 60px;
}
#nav{
    height: 40px;
    background-color: violet;
}
#content{
    height: 500px;
    width: 600px;
    background-color: yellow;
    float: left;
}
#sidebar{
    height: 500px;
    width: 390px;
    background-color: red;
    float: right;
}
#footer{
    height: 40px;
    background-color: white;
    width: 990px;
position: bottom;
}