html,body{
    display: flex;
    justify-content: center;
    background-color: black;
}
#container{
    width: 1000px;
    padding: 10px;
    background-color: green;
}
#header{
    background-color: aqua;
    height: 60px;
    text-align: center;
}
#nav{
    height: 40px;
    padding: 10px;
    background-color: violet;
    text-align: center;
}
#content{
    height: 500px;
    width: 590px;
    padding: 5px;
    background-color: yellow;
    float: left;
}
#sidebar{
    height: 500px;
    width: 390px;
    padding: 5px;
    background-color: red;
    float: right;
}
#footer{
    height: 40px;
    background-color: white;
    width: 990px;
    float: left;
}
.nav-links{
    padding: 5px;
    text-align: center;
    text-decoration:underline solid white;
}
.nav-links:hover{
    padding: 5px;
    color:black;
    background-color: blue;
}