html,body{
    display: flex;
    justify-content: center;
    background-color: skyblue;
    color: white;

}
#container{
    width: 1000px;
    padding: 10px;
   background-image: url(https://miro.medium.com/v2/resize:fit:5400/1*X-hagm2jL0EwiYmmYLoMgQ.jpeg);
    text-align: center;
    text-decoration-color: white;
}
#header{
   
    min-height: 60px;
    text-align: center;
}
#nav{
    height: 40px;
    padding: 10px;
    text-align: center;
}
#content{
    min-height: 500px;
    width: 590px;
    padding: 5px;
   
    float: left;
}
#sidebar{
    min-height: 500px;
    width: 390px;
    padding: 5px;

    float: right;
}
.poster{
    height: 490px;
    width: 380px;
    padding: 5px;
    float: left;
}
#footer{
    height: 40px;
    width: 1000px;
    float: left;
}
.nav-links{
    padding: 5px;
    text-align: center;
    
}
.nav-links:hover{
    padding: 5px;
    color:black;
    background-color: blue;
}
.synopsis{
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    font-size: larger;
}
.info{
    text-align: left;
    border: 1px solid black;
    font-size: larger
}
.character, img,h3{
    height: 50px;
    
    
}